@font-face {
    font-family: "partybusiness";
    src: url('https://github.com/seb879/Integration_Part_2/blob/dev/font/partybusiness.ttf') format(Truetype);
}

body {
    font-family: "partybusiness", sans-serif;
}